/*
 Original data is taken froum styleguide 2.0
 https://3.basecamp.com/3576524/buckets/2650597/todos/619920249
 Part of CJAF
 */


/*
 Цвет ловушки
 core-trap
 */
.cjaf-trap-color                       { color: #F9F9F9; }

.cjaf-trap-border-color         { border-color: #F9F9F9; }

.cjaf-trap-background-color { background-color: #F9F9F9; }


/*
 Фон (за iframe)
 Обводка шагов непойманных ярлыков
 core-outline
 */
.cjaf-outline-color                       { color: #F0F0F0; }

.cjaf-outline-border-color         { border-color: #F0F0F0; }

.cjaf-outline-background-color { background-color: #F0F0F0; }


/*
 Неактивные элементы
 core-inactive
 */
.cjaf-inactive-color                       { color: #D8DAD4; }

.cjaf-inactive-border-color         { border-color: #D8DAD4; }

.cjaf-inactive-background-color { background-color: #D8DAD4; }


/*
 Цвет шрифта тултипа
 core-tooltip
 */
.cjaf-tooltip,
.cjaf-inactive-color                       { color: #777777; }

.cjaf-step-inactive,
.cjaf-inactive-border-color         { border-color: #777777; }

.cjaf-inactive-background-color { background-color: #777777; }


/*
 Текст
 core-text
 */
.cjaf-validator-caption-text,
.cjaf-text,
.cjaf-text-color                       { color: #2D2D2D; }

.cjaf-text-border-color         { border-color: #2D2D2D; }

.cjaf-text-background-color { background-color: #2D2D2D; }


/*
 Основной цвет
 core-main
 */
.main-color,
.cjaf-button-light,
.cjaf-main-color                       { color: #4ECDE4; }

.cjaf-main-border-color         { border-color: #4ECDE4; }

.cjaf-button-normal,
.cjaf-main-background-color { background-color: #4ECDE4; }


/*
 Дополнительный цвет 1
 core-additional1
 */
.cjaf-button-light:hover,
.cjaf-additional1-color                       { color: #FF6B6B; }

.cjaf-additional1-border-color         { border-color: #FF6B6B; }

.cjaf-button-normal:hover,
.cjaf-additional1-background-color { background-color: #FF6B6B; }


/*
 Дополнительный цвет 2
 core-additional2
 */
.cjaf-additional2-color                       { color: #FFE66C; }

.cjaf-additional2-border-color         { border-color: #FFE66C; }

.cjaf-tooltip,
.cjaf-additional2-background-color { background-color: #FFE66C; }


/*
 Цвет правильного ответа
 correct-answer
 */
.cjaf-correct-answer-color            { color: #4ECDE4; }

.cjaf-correct-answer-border-color     { border-color: #4ECDE4; }

.cjaf-correct-answer-background-color { background-color: #4ECDE4; }


/*
 Цвет ошибки
 wrong-answer
 */
.cjaf-wrong-answer-color            { color: #F16746; }

.cjaf-wrong-answer-border-color     { border-color: #F16746; }

.cjaf-wrong-answer-background-color { background-color: #F16746; }


/*
 Секция дополнительных цветов
 */

.cjaf-button-normal,
.cjaf-color-white                   { color: white }

.cjaf-button-light,
.cjaf-background-color-white        { background-color: white }

/*
 Validator
 */

/* Fill */
.cjaf-validator-modal-window,
.cjaf-validator-pop-up-window           { background-color: #F5F4EF }

/* Border */
.cjaf-validator-modal-window,
.cjaf-validator-pop-up-window           { border-color: white }

/* Error text color */
.cjaf-error-text-color                  { color: #F48154 }




/*
 Ярлыки
 */

/* Цвет обводки ярылка в статусе проверки */


