/* Conqueror Sans */

@font-face {
    font-family: "Conqueror Sans Black";
    src: url("../fonts/ConquerorSans-Black.woff") format('woff')
}

@font-face {
    font-family: "Conqueror Sans Regular";
    src: url("../fonts/ConquerorSans-Light.woff") format('woff')
}

.conqueror-sans-black       { font-family: "Conqueror Sans Black", sans-serif }
.conqueror-sans-light       { font-family: "Conqueror Sans Light", sans-serif;}

/* Open Sans */

@font-face {
    font-family: "Open Sans Semibold";
    src: url("../fonts/OpenSans-Semibold.ttf") format('truetype'),
         url("../fonts/OpenSans-Semibold.woff") format('woff')
}

@font-face {
    font-family: "Open Sans Regular";
    src: url("../fonts/OpenSans-Regular.ttf") format('truetype'),
         url("../fonts/OpenSans-Regular.woff") format('woff')
}

.open-sans-regular      { font-family: 'Open Sans Regular', sans-serif }
.open-sans-semibold     { font-family: 'Open Sans Semibold', sans-serif }

.bold { font-weight: bold }