/*
 Original data is taken froum styleguide 2.0
 https://3.basecamp.com/3576524/buckets/2650597/todos/619920249
 Part of CJAF
 */



.header-text {
    font-size: 28px;
    line-height: 32px;
    font-family: "Conqueror Sans Black", sans-serif;
}

.subheader-text {
    font-size: 22px;
    line-height: 28px;
    font-family: "Conqueror Sans Regular", sans-serif;
}

.default-text {
    font-size: 17px;
    line-height: 24px;
    font-family: "Conqueror Sans Regular", sans-serif;
}

.i-text {
    font-size: 17px;
    line-height: 36px;
    font-family: "Open Sans Regular", sans-serif;
}

.button-text {
    font-size: 14px;
    line-height: 20px;
    font-family: "Open Sans Regular", sans-serif;
}


/*NSO (new style organisation)*/
