
* {
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.ui-draggable-dragging {
    cursor: -webkit-grabbing!important
}

h1, h2 {
    margin: 0;
    font-weight: normal;
}

.cjaf-anchor-top        { top: 0 }
.cjaf-anchor-left       { left: 0 }
.cjaf-anchor-right      { right: 0 }
.cjaf-anchor-bottom     { bottom: 0 }

.cjaf-padding           { padding: 10px }

.cjaf-padding-top       { padding-top: 10px }
.cjaf-padding-left      { padding-left: 10px }
.cjaf-padding-right     { padding-right: 10px }
.cjaf-padding-bottom    { padding-bottom: 10px }

.cjaf-margin           { padding: 10px }

.cjaf-margin-top       { margin-top: 10px }
.cjaf-margin-left      { margin-left: 10px }
.cjaf-margin-right     { margin-right: 10px }
.cjaf-margin-bottom    { margin-bottom: 10px }

.hidden                { display: none }

.cjaf-block      { display: block }

.cjaf-table-cell { display: table-cell;}

.cjaf-v-center   { vertical-align: middle }

.cjaf-v-top      { vertical-align: top }


.transition        {transition: all 0.4s ease-out;}

.align-self-center      { align-self: center }


.outer-shadow   {box-shadow: 0px 0px 6px 1px #eaeaea;}
.inner-shadow   {box-shadow: inset 0px 2px 2px 1px #eaeaea;}

.pointer        { cursor: pointer }

.inline-block   { display: inline-block }

.flex           { display: flex }

.flex-auto      {flex: auto;}
.flex-initial   { flex: initial }

.flex-direction-row       { flex-direction: row }
.flex-direction-column    { flex-direction: column }

.space-between  { justify-content: space-between }

.absolute       { position: absolute;}
.relative       { position: relative }

.center         { text-align: center }

.bold           { font-weight: bold }

.workfield-default  {/* width: 912px; */height: 600px;margin: 32px auto 0px auto;/* overflow-x: hidden; *//* overflow-y: hidden; */}
