#step-header h2 {
    position: absolute;
}

#step-header ul {
    padding: 0;
    margin: 10px 0;
}

#step-header ul li {
    width: 34px;
    height: 34px;
    border: #F0F0F0 2px solid;
    line-height: 36px;
    margin-right: 20px;
    border-radius: 20px;
}

#step-header ul li.active   { color: #4ECDE4 }
#step-header ul li.inactive { color: #D8DAD4 }

.step-header-leave-active   { transition: all .4s ease }
.step-header-enter-active   { transition: all .4s .2s ease }

.step-header-enter, .step-header-leave-to { opacity: 0; transform: translateY(-20px); }
.step-header-enter-to, .step-header-leave { opacity: 1; }