ul.flasks-group, ul.traps-group {
    border: none;
    margin: 0;
    padding: 0;
    list-style: none;
}

#yin1-2-flasks-and-traps-wrapper {
    position: absolute;
    top: 84px;
    left: 384px;
    z-index: 4;
}

#yin1-2-flasks-and-traps-wrapper > div.absolute {
    width: 360px;
    height: 100px;
    top: 220px;
    left: 85px;
    background: linear-gradient(to right, transparent, #ffffffd0, white);
    z-index: 1;
}

ul.flasks-group {
    top: 80px;
    left: -5px;
    display: flex;
}

ul.flasks-group li.flask {
    margin: 0 5px;
    display: inline-block;
}

li.flask {
    background: url(img/flask/normal.png) no-repeat;
    background-size: contain;
    width: 76px;
    height: 86px;
    list-style: none;
}

li.flask svg {
    width: inherit;
    height: inherit;
}

polygon.flask-liquid {
    fill: #444;
}

@keyframes flask-move {
    from {

    }
    to {
        transform: translate(246px, -232px);
    }
}

.flask-moving {
    position: absolute;
    -webkit-animation: flask-move .6s ease-out normal forwards 1 .2s;
       -moz-animation: flask-move .6s ease-out normal forwards 1 .2s;
         -o-animation: flask-move .6s ease-out normal forwards 1 .2s;
            animation: flask-move .6s ease-out normal forwards 1 .2s;
}

.flasks-group-enter-active { transition: all .4s cubic-bezier(0, 0.75, 0.75, 1) }
.flasks-group-leave-active { position: absolute; transition: all .4s cubic-bezier(0, 0.75, 0.75, 1); }

.flasks-group-enter-active:first-child { transition: all .0s .4s }
.flasks-group-leave-active:first-child { opacity: 0; transition: all 0s }

.flasks-group-enter    { opacity: 0; transform: translateX(60px)}
.flasks-group-enter-to { opacity: 1; }

.flasks-group-move     { transition: all .4s cubic-bezier(0, 0.75, 0.75, 1); }

.flasks-group-leave    { opacity: 1; }
.flasks-group-leave-to { opacity: 0; }

.flasks-group-enter:first-child, .flasks-group-leave-to:first-child { opacity: 0; transform: translate(0px);}
.flasks-group-enter-to:first-child, .flasks-group-leave:first-child { opacity: 1; }

ul.traps-group {
    left: 230px;
    display: flex;
    width: 324px;
}

ul.traps-group > li {
    /* position: absolute; */
    width: 108px;
    height: 148px;
}

ul.traps-group li:first-child   { left: 0; }
ul.traps-group li:nth-child(2)  { left: 108px; }
ul.traps-group li:nth-child(3)  { left: 216px; }

ul.traps-group li .trap {
    width: 75px;
    height: 85px;
    margin: auto;
    background-repeat: no-repeat;
    background-image: url(img/trap/normal.png);
    background-size: contain;
}

ul.traps-group li .trash {
    background: url(img/trash/normal.png);
    width: 70px;
    height: 122px;
    background-size: contain;
    margin: auto;
    z-index: 2;
    position: absolute;
    left: 127px;
    top: 45px;
}

li div.trash.ui-droppable-hover { background-image: url(img/trash/hover.png); }

ul.traps-group li .caption {
    background-color: #B1EAE3;
    width: 108px;
    height: 45px;
    margin-top: 10px;
    line-height: 18px;
    padding-top: 8px;
    position: absolute;
    top: 80px;
}

ul.traps-group li .note {
    margin: auto;
    width: inherit;
    color: #4ECDE4;
    top: 65px;
}

.traps-group-enter-active,
.traps-group-leave-active { transition: all .5s ease .5s }

.traps-group-enter-active .trap,
.traps-group-leave-active .trap { transition: all .5s ease .3s }

.traps-group-enter-active .note,
.traps-group-leave-active .note { transition: all .5s ease .4s }

.traps-group-enter-active .caption,
.traps-group-leave-active .caption { transition: all .4s ease .2s }

.traps-group-enter-active .trash,
.traps-group-leave-active .trash { transition: all .6s ease .2s }

.traps-group-enter      li:first-child .trap,
.traps-group-leave      li:first-child .trap,
.traps-group-enter-to   li:first-child .trap,
.traps-group-leave-to   li:first-child .trap { opacity: 1; }

.traps-group-enter      li:not(:first-child) .trap,
.traps-group-leave-to   li:not(:first-child) .trap { opacity: 0; transform: translateX(60px); }
.traps-group-leave      li:not(:first-child) .trap,
.traps-group-enter-to   li:not(:first-child) .trap { opacity: 1; }

.traps-group-enter .trash, .traps-group-leave-to .trash { opacity: 0; transform: translateY(-120px); }
.traps-group-leave .trash, .traps-group-enter-to .trash { opacity: 1; }

.traps-group-enter .note, .traps-group-leave-to .note { opacity: 0; transform: translateY(-60px); }
.traps-group-leave .note, .traps-group-enter-to .note { opacity: 1; }

.traps-group-enter li:first-child .caption,
.traps-group-leave li:first-child .caption,
.traps-group-enter-to li:first-child .caption,
.traps-group-leave-to li:first-child .caption { opacity: 1; }

.traps-group-enter li:not(:first-child) .caption, .traps-group-leave-to li:not(:first-child) .caption { opacity: 0; transform: translateX(60px); }
.traps-group-leave li:not(:first-child) .caption, .traps-group-enter-to li:not(:first-child) .caption { opacity: 1; }

/*.traps-group-enter, .traps-group-leave-to   { opacity: 0; transform: translateX(60px); }*/
/*.traps-group-enter-to, .traps-group-leave   { opacity: 1; }*/

li .trap.ui-droppable-hover             { background-image: url(img/trap/hover.png)!important; }
li .trap.ui-droppable-hover + .caption  { background-color: #FFE66C; }

li .trap.wrong                          { background-image: url(img/trap/wrong.png)!important; }
li .trap.wrong + .caption               { background-color: #ff6b6b; }
