<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>YIN1 - 2 (CJAF customized)</title>
    <link rel="stylesheet" href="css/colors.css">
    <link rel="stylesheet" href="css/elements.css">
    <link rel="stylesheet" href="css/font.css">
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="yin1_2.css">
    <script src="jquery/jquery-3.2.1.min.js"></script>
    <script src="jquery/jquery-ui.js"></script>
    <script src="jquery/jquery-ui-touchpunch.0.2.3.js"></script>
    <script src="vue/vue.js"></script>
    <script src="ru_ru.js"></script>

    <!-- Component: Flasks group -->
    <script src="vue-components/flasks-group/flasks-group.js"></script>
    <link rel="stylesheet" href="vue-components/flasks-group/style.css">

    <!-- Component: Step header -->
    <script src="vue-components/step-header/step-header.js"></script>
    <link rel="stylesheet" href="vue-components/step-header/style.css">

    <!-- Component: Item -->
    <script src="vue-components/item/item.js"></script>

    <!-- Component: Modal window -->
    <script src="vue-components/modal-window/modal-window.js"></script>
    <link rel="stylesheet" href="vue-components/modal-window/style.css">

    <!-- Component: Pop-up window -->
    <script src="vue-components/pop-up-window/pop-up-window.js"></script>
    <link rel="stylesheet" href="vue-components/pop-up-window/style.css">

</head>
<body>
<div style="width: 960px; margin: auto">
    <div id="app-wrapper" class="relative workfield-default flex flex-direction-column">

        <h1
            v-html="content.header"
            class="header-text"
        ></h1>

        <step-header
            :content="content.steps"
            :active-step="activeStep"
        ></step-header>

        <!-- Modal window -->
        <modal-window
            v-show="!window.modal.hidden"
            :content="content.common.window.modal[window.modal.type]"
            @button-click="onModalWindowButtonClick"
        ></modal-window>

        <!-- Pop-up window -->
        <pop-up-window
            v-show="!window.popUp.hidden"
            :content="content.common.window.popUp[window.popUp.type]"
        ></pop-up-window>

        <div id="yin1-2-steps-content-wrapper" class="relative flex-auto">

            <!-- Equipment -->
            <div id="yin1-2-background-elements-wrapper" class="relative">
                <item
                    v-for="element in content.common.equipment"
                    :content="element"
                    :key="element"
                ></item>

                <div
                    id="yin1-2-heating-flask-void"
                    class="absolute"
                    :style="'height: ' + (10 + 42 * liquid.ratio.heating) + 'px'"
                ></div>

                <!-- Temperature -->
                <h1
                    id="yin1-2-temperature"
                    class="header-text absolute"
                    v-text="T.current"
                ></h1>

                <!-- Stove -->
                <div
                    id="yin1-2-stove"
                    :class="[
                    'pointer',
                    'absolute',
                    'stove-' + (stove.isWorking ? 'on' : 'off')
                ]"
                    @click="stove.isWorking = !stove.isWorking">
                </div>
            </div>

            <div
                id="yin1-2-drop"
                :class="{
                absolute: true,
                dropping: liquid.isDropping && !stove.isPaused,
                hidden:   !liquid.isDropping
            }"
            >
                <div id="top"></div>
                <div id="bottom"></div>
            </div>

            <flasks-group
                id                  = "yin1-2-flasks-and-traps-wrapper"
                class               = "absolute"
                :prev-t             = "T.prev"
                :app-cfg            = "cfg"
                :content            = "content.common.traps"
                :active-step        = "activeStep"
                :liquid-ratio       = "liquid.ratio.output"
                @complete           = "onComplete"
                @flask-drop         = "onFlaskDrop"
                @flask-drag-start   = "onFlaskDragStart"
                @liquid-ratio-change    = "onLiquidRatioChange"
            ></flasks-group>

            <!-- Info -->

            <transition name="step-info">
                <item
                    v-if="activeStep === 1"
                    :content="content.steps[0].content.info">
                </item>
            </transition>

            <transition name="step-info">
                <item
                    v-if="activeStep === 3"
                    :content="content.steps[2].content.info">
                </item>
            </transition>

            <div
                id="yin1-2-control-button"
                v-html="content.common.buttons[buttonType].text"
                class="button button-text absolute corner-button inline-block"
                :class="[
                    content.common.buttons[buttonType].type ?
                        content.common.buttons[buttonType].type :
                        'normal'
                ]"
            ></div>
        </div>
    </div>
</div>
<script src="yin1_2.js"></script>
</body>
</html>
