/*
 * Common classes
 */

.corner-button {
    bottom: 43px;
    right: -5px;
}

.window {
    box-shadow: 0 0 3px 1px #CCCCCC;
    border: white 10px solid;
    padding: 10px;
}



/*
 * Global blocks
 */

#app-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
}

div#yin1-2-steps-content-wrapper {
    /* background-color: #184c468c; */
}

#yin1-2-petroleum-heating-equipment {
    background-image: url(res/equipment.png);
    background-size: contain;
    width: 430px;
    height: 330px;
    background-repeat: no-repeat;
    top: 70px;
    left: 0px;
    z-index: 1;
}

#yin1-2-temperature {
    color: #C1272C;
    font-size: 34px;
    top: 75px;
    width: 75px;
    left: 27px;
    text-align: center;
    line-height: 44px;
    /* outline: red 1px solid; */
}



/*
 * Restart button
 */

.yin1-2-button-restart-img {
    background-image: url(res/restart.png);
    width: 23px;
    height: 28px;
    background-size: contain;
}

.yin1-2-button-restart-img:hover {
    filter: hue-rotate(180deg);
}



/*
 * Step info window (steps: 1, 3)
 */

.info-window            { background-color: #D9F4F2; }

#yin1-2-step1-info,
#yin1-2-step3-info      {bottom: 110px;right: 2px;z-index: 5;}

#yin1-2-step1-info      { width: 306px; }

#yin1-2-step3-info b    { color: #4ECDE4; }

.step-info-enter-active,
.step-info-leave-active { transition: all .4s ease-out .4s }

.step-info-enter, .step-info-leave-to { opacity: 0; transform: translateX(60px); }
.step-info-enter-to, .step-info-leave { opacity: 1; }



/*
 * Stove (all steps)
 */

#yin1-2-stove {
    top: 320px;
    left: 131px;
    width: 83px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 1;
}

.stove-on    { background-image: url(res/stove/on.png) }
.stove-off   { background-image: url(res/stove/off.png) }



/*
 * Heating flask
 */

#yin1-2-heating-flask-liquid {
    width: 69px;
    height: 64px;
    border-radius: 100px;
    background-color: #444;
    top: 243px;
    left: 139px;
    z-index: 0;
}

#yin1-2-heating-flask-void {
    width: 100px;
    background-color: #ffffff;
    top: 243px;
    left: 123px;
    /* height: 64px; */
    z-index: 0;
}



/*
 * Drop of petroleum
 */

#yin1-2-drop {
    top: 270px;
    left: 415px;
}

#yin1-2-drop #bottom {
    top: 20px;
    background-color: #222;
    border-radius: 14px;
    width: 14px;
    height: 14px;
}

#yin1-2-drop #top {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #222222;
    display: block;
    position: absolute;
    bottom: 11px;
    left: 0px;
    right: 0;
    margin: auto;
    width: 0px;
    height: 0px;
}


.dropping {
    position: absolute;
    top: 100px;
    left: 100px;
    animation: drop-drop 1.2s cubic-bezier(0.96, -0.12, 0.96, 0.3) normal infinite;
    -o-animation: drop-drop 1.2s cubic-bezier(0.96, -0.12, 0.96, 0.3) normal infinite;
    -moz-animation: drop-drop 1.2s cubic-bezier(0.96, -0.12, 0.96, 0.3) normal infinite;
    -webkit-animation: drop-drop 1.2s cubic-bezier(0.96, -0.12, 0.96, 0.3) normal infinite;
}

@-webkit-keyframes drop-drop {
    from {
        opacity: 0.2;
    }
    to {
        transform: translateY(110px);
        opacity: 0.1;
    }
    50% {
        opacity: 0.9;
    }
}


#yin1-2-validate-button,
#yin1-2-restart-button {
    right: 0px;
    bottom: 30px;
}
