div#pop-up-window {
    width: 540px;
    height: 37px;
    background: #d9f4f2;
    bottom: 0;
    right: 170px;
}

div#pop-up-window > div {
    line-height: 22px;
}

.pop-up-window-enter            { opacity: 0; transform: translateX(400px); }
.pop-up-window-enter-active     { transition: all .4s ease-out }
.pop-up-window-enter-to         { opacity: 1; }
.pop-up-window-leave            { opacity: 1; }
.pop-up-window-leave-active     { transition: all .4s ease-in  }
.pop-up-window-leave-to         { opacity: 0; transform: translateX(400px)  }