div#modal-window-wrapper {
    width: 100%;
    height: 100%;
    background: #FFFFFF80;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div#modal-window-wrapper > div.window {
    background-color: #f5f4ef;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* align-self: flex-end; */
    width: 540px;
}

.modal-window-enter-active, .modal-window-enter-active > div.window { transition: all .4s cubic-bezier(0, 1.2, 1, 1) .1s; }
.modal-window-leave-active, .modal-window-leave-active > div.window { transition: all .2s cubic-bezier(0, 0, 1, -0.2) .1s; }

.modal-window-enter-to > div.window, .modal-window-leave > div.window { opacity: 1; }
/*.modal-window-leave-to > div.window, .modal-window-enter > div.window { opacity: 0; transform: translateY(200px); }*/
.modal-window-leave-to > div.window, .modal-window-enter > div.window { opacity: 0; transform: scale(0.3); }
